.iugu-payment-icons { font-size: 1px; }
.iugu-payment-icons li { background: url(../images/icons.png) no-repeat; margin: 0 2px 0 0 !important; width: 51px; height: 32px; display: inline-block; }
.iugu-payment-icons li span { display: none; }
.iugu-payment-icons li.boleto { background-position: -51px 0; }
.iugu-payment-icons li.boleto.on { background-position: 0 0; }
.iugu-payment-icons li.VI { background-position: -51px -32px; }
.iugu-payment-icons li.VI.on { background-position: 0 -32px; }
.iugu-payment-icons li.MC { background-position: -51px -64px; }
.iugu-payment-icons li.MC.on { background-position: 0 -64px; }
.iugu-payment-icons li.AE { background-position: -51px -96px; }
.iugu-payment-icons li.AE.on { background-position: 0 -96px; }
.iugu-payment-icons li.DC { background-position: -51px -128px; }
.iugu-payment-icons li.DC.on { background-position: 0 -128px; }
.iugu-cvv { position: relative; }
.iugu-cvv input.cvv { width: 4em !important; }
.iugu-cvv-tool-tip { position: absolute; display: inline-block; left: 5em; top: 0; }
.iugu-cvv-tool-tip:hover .iugu-cvv-image, .iugu-cvv-tool-tip:hover .iugu-cvv-tool-tip-arrow { display: block; }
.iugu-cvv-tool-tip-arrow { display: none; position: absolute; top: -10px; left: 16px; background: url(../images/arrow_down.gif) no-repeat; width: 17px; height: 9px; z-index: 101px; }
.iugu-cvv-icon { cursor: pointer; }
.iugu-cvv-image { display: none; background: #fff; border: 1px solid #ccc; padding: 10px; position: absolute; top: -235px; z-index: 100px; }
.iugu-cc-expr-month { width: 68px; margin-right: 0 !important; }
.iugu-cc-expr-month select.month { width: 64px !important; margin-right: 0 !important; }
.iugu-cc-expr-year select.year { width: 72px !important; }
#advice-validate-iugu-cc-exp-iugu_cc_expiration { white-space: nowrap; }
#advice-validate-iugu-cc-cvn-iugu_cc_cc_cid { white-space: nowrap; }
