<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Iugu
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Iugu>
            <version>0.1.3</version>
        </Inovarti_Iugu>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <iugu_token><to_order_payment>*</to_order_payment></iugu_token>
                <iugu_customer_payment_method_id><to_order_payment>*</to_order_payment></iugu_customer_payment_method_id>
                <iugu_save><to_order_payment>*</to_order_payment></iugu_save>
                <installments><to_order_payment>*</to_order_payment></installments>
                <installment_description><to_order_payment>*</to_order_payment></installment_description>
                <iugu_boleto_name><to_order_payment>*</to_order_payment></iugu_boleto_name>
                <iugu_boleto_cpf_cnpj><to_order_payment>*</to_order_payment></iugu_boleto_cpf_cnpj>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <iugu>
                <class>Inovarti_Iugu_Model</class>
            </iugu>
        </models>
        <resources>
            <iugu_setup>
                <setup>
                    <module>Inovarti_Iugu</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iugu_setup>
            <iugu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iugu_write>
            <iugu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iugu_read>
        </resources>
        <blocks>
            <iugu>
                <class>Inovarti_Iugu_Block</class>
            </iugu>
        </blocks>
        <helpers>
            <iugu>
                <class>Inovarti_Iugu_Helper</class>
            </iugu>
        </helpers>
        <payment>
            <cc>
                <types>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DC>
                </types>
            </cc>
            <groups>
                <iugu>Iugu</iugu>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <iugu>
                <use>standard</use>
                <args>
                    <module>Inovarti_Iugu</module>
                    <frontName>iugu</frontName>
                </args>
            </iugu>
        </routers>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <iugu_add_js_observer>
                        <type>singleton</type>
                        <class>iugu/observer</class>
                        <method>addJs</method>
                    </iugu_add_js_observer>
                    <iugu_add_total_observer>
                        <type>singleton</type>
                        <class>iugu/observer</class>
                        <method>addTotal</method>
                    </iugu_add_total_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inovarti_Iugu before="Mage_Adminhtml">Inovarti_Iugu_Adminhtml</Inovarti_Iugu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <iugu_settings>
                <mode>test</mode>
            </iugu_settings>
            <iugu_boleto>
                <active>0</active>
                <model>iugu/boleto</model>
                <title>Boleto Bancário</title>
                <due_date>3</due_date>
                <payment_action>charge</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>iugu</group>
            </iugu_boleto>
            <iugu_cc>
                <active>0</active>
                <model>iugu/cc</model>
                <title>Cartão de Crédito</title>
                <order_status>processing</order_status>
                <cctypes>VI,MC,AE,DC</cctypes>
                <max_installments>12</max_installments>
                <min_installment_value>20</min_installment_value>
                <interest_rate>a:11:{s:18:"_1425059837819_819";a:2:{s:12:"installments";s:1:"2";s:8:"interest";s:1:"3";}s:18:"_1425061599555_555";a:2:{s:12:"installments";s:1:"3";s:8:"interest";s:1:"4";}s:18:"_1425061652102_102";a:2:{s:12:"installments";s:1:"4";s:8:"interest";s:1:"5";}s:18:"_1425061680768_768";a:2:{s:12:"installments";s:1:"5";s:8:"interest";s:1:"6";}s:18:"_1425061694605_605";a:2:{s:12:"installments";s:1:"6";s:8:"interest";s:1:"8";}s:18:"_1425061737435_435";a:2:{s:12:"installments";s:1:"7";s:8:"interest";s:1:"9";}s:18:"_1425061745117_117";a:2:{s:12:"installments";s:1:"8";s:8:"interest";s:2:"10";}s:18:"_1425061751981_981";a:2:{s:12:"installments";s:1:"9";s:8:"interest";s:2:"11";}s:17:"_1425061758055_55";a:2:{s:12:"installments";s:2:"10";s:8:"interest";s:2:"13";}s:18:"_1425061764547_547";a:2:{s:12:"installments";s:2:"11";s:8:"interest";s:2:"14";}s:18:"_1425061770589_589";a:2:{s:12:"installments";s:2:"12";s:8:"interest";s:2:"15";}}</interest_rate>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <group>iugu</group>
            </iugu_cc>
        </payment>
    </default>
</config>
