<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Iugu
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Iugu>
            <version>0.1.0</version>
        </Inovarti_Iugu>
    </modules>
    <global>
        <models>
            <iugu>
                <class>Inovarti_Iugu_Model</class>
            </iugu>
        </models>
        <resources>
            <iugu_setup>
                <setup>
                    <module>Inovarti_Iugu</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iugu_setup>
            <iugu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iugu_write>
            <iugu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iugu_read>
        </resources>
        <blocks>
            <iugu>
                <class>Inovarti_Iugu_Block</class>
            </iugu>
        </blocks>
        <helpers>
            <iugu>
                <class>Inovarti_Iugu_Helper</class>
            </iugu>
        </helpers>
        <payment>
            <groups>
                <iugu>Iugu</iugu>
            </groups>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inovarti_Iugu before="Mage_Adminhtml">Inovarti_Iugu_Adminhtml</Inovarti_Iugu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <iugu_settings>
                <mode>test</mode>
            </iugu_settings>
            <iugu_boleto>
                <active>0</active>
                <model>iugu/boleto</model>
                <title>Boleto Bancário</title>
                <payment_action>charge</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>iugu</group>
            </iugu_boleto>
        </payment>
    </default>
</config>
