<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Iugu
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Iugu>
            <version>0.1.0</version>
        </Inovarti_Iugu>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <iugu_token><to_order_payment>*</to_order_payment></iugu_token>
                <installments><to_order_payment>*</to_order_payment></installments>
                <installment_description><to_order_payment>*</to_order_payment></installment_description>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <iugu>
                <class>Inovarti_Iugu_Model</class>
            </iugu>
        </models>
        <resources>
            <iugu_setup>
                <setup>
                    <module>Inovarti_Iugu</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iugu_setup>
            <iugu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iugu_write>
            <iugu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iugu_read>
        </resources>
        <blocks>
            <iugu>
                <class>Inovarti_Iugu_Block</class>
            </iugu>
        </blocks>
        <helpers>
            <iugu>
                <class>Inovarti_Iugu_Helper</class>
            </iugu>
        </helpers>
        <payment>
            <cc>
                <types>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DC>
                </types>
            </cc>
            <groups>
                <iugu>Iugu</iugu>
            </groups>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <iugu_observer>
                        <class>iugu/observer</class>
                        <method>addJs</method>
                    </iugu_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inovarti_Iugu>
                    <files>
                        <default>Inovarti_Iugu.csv</default>
                    </files>
                </Inovarti_Iugu>
            </modules>
        </translate>
        <layout>
            <updates>
                <iugu>
                    <file>iugu.xml</file>
                </iugu>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inovarti_Iugu before="Mage_Adminhtml">Inovarti_Iugu_Adminhtml</Inovarti_Iugu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <iugu_settings>
                <mode>test</mode>
            </iugu_settings>
            <iugu_boleto>
                <active>0</active>
                <model>iugu/boleto</model>
                <title>Boleto Bancário</title>
                <payment_action>charge</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>iugu</group>
            </iugu_boleto>
            <iugu_cc>
                <active>0</active>
                <model>iugu/cc</model>
                <title>Cartão de Crédito</title>
                <order_status>processing</order_status>
                <cctypes>VI,MC,AE,DC</cctypes>
                <max_installments>12</max_installments>
                <min_installment_value>20</min_installment_value>
                <max_installments_without_interest>5</max_installments_without_interest>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <group>iugu</group>
            </iugu_cc>
        </payment>
    </default>
</config>
